.pokemon-list {
    display: grid;

    width: 75%;
    max-width: 75em;
    margin: 0 auto;
    margin-bottom: 2em;

    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 2em 5em;
}

@media (max-width: 400px) {

    .pokemon-list {
        width: 90%;
    }

}
