.pokemon-card {
    display: inline-block;

    padding: 10%;

    color: black;
    text-decoration: none;
    text-align: center;
}

.pokemon-card-image {
    display: block;

    max-width: 90%;
    padding: 5%;
    margin: 0 auto;

    background-color: #EEE;
    border-radius: 1em;
}

.pokemon-card-number, .pokemon-card-name, .pokemon-card-types {
    display: block;

    width: 120px;
    width: calc(120px + 10%);
    max-width: 90%;
    margin: .5em auto;
}

.pokemon-card-number {
    text-align: left;
    color: #666;
    font-size: 80%;
}

.pokemon-card-name {
    font-size: 120%;
    font-weight: bold;
}

.pokemon-card-types {
    display: flex;
    margin: 0 auto;

    justify-content: space-around;
}
