body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.page-title {
	width: 75%;
	max-width: 1200px;
	margin: 2em auto;

	font-size: 200%;
}

.page-title-logo {
	height: 1em;
	margin-right: .5em;

	vertical-align: middle;
}

.page-title-text {
	vertical-align: middle;
}

@media (max-width: 400px) {

	.page-title {
		width: 90%;
	}

}

@media (max-width: 1600px) {

	.page-title {
		font-size: 150%;
	}

}
