body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.page-title {
    width: 75%;
    max-width: 1200px;
    margin: 2em auto;

    font-size: 200%;
}

.page-title-logo {
    height: 1em;
    margin-right: .5em;

    vertical-align: middle;
}

.page-title-text {
    vertical-align: middle;
}

.pokemon-type {
    padding: .2em .5em;

    font-size: 80%;
    color: white;

    border-radius: .3em;
    background-color: #333;
}

.type-normal {
    background-color: #A8A878;
}

.type-fire {
    background-color: #F08030;
}

.type-water {
    background-color: #6890F0;
}

.type-grass {
    background-color: #78C850;
}

.type-electric {
    background-color: #F8D030;
}

.type-ice {
    background-color: #98D8D8;
}

.type-fighting {
    background-color: #C03028;
}

.type-poison {
    background-color: #A040A0;
}

.type-ground {
    background-color: #E0C068;
}

.type-flying {
    background-color: #A890F0;
}

.type-psychic {
    background-color: #F85888;
}

.type-bug {
    background-color: #A8B820;
}

.type-rock {
    background-color: #B8A038;
}

.type-ghost {
    background-color: #705898;
}

.type-dragon {
    background-color: #7038F8;
}

@media (max-width: 400px) {

    .page-title {
        width: 90%;
    }

}

@media (max-width: 1600px) {

    .page-title {
        font-size: 150%;
    }

}
